body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: fuchsia;
  padding: 20px;
  text-align: center;
}

.Logo {
  float: left;
  border-radius: 80px;
  width: 300px;
  height: 300px;
}

h1 {
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 80px;
}

.Rose1 {
  width: 350px;
  height: 350px;
}

nav {
  text-align: center;
  margin-bottom: 20px;
  padding: 5px;
  border: 2px blueviolet;
}
nav a {
  text-decoration: none;
  margin: 0 10px;
  color: #9b0e3d;
  font-size: 30px;
}

.sub-heading {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: left;
  padding: 0 auto;
  margin: 60px;
  justify-content: center;
  position: absolute;
  top: 240px;
  right: 240px;
  width: 25%;
  font-size: 20px;
  font-family: "Pacifico", cursive;
  font-weight: 400;
}

.about-us {
  font-family: "Pacifico", cursive;
  font-size: 30px;
}

.intro {
  font-family: "fantasy";
  font-size: 25px;
}

.products {
  font-family: "Pacifico", cursive;
  font-size: 30px;
}

.contact-us {
  font-family: "Pacifico", cursive;
  font-size: 30px;
}

section {
  padding: 20px;
  text-align: center;
}
footer {
  background-color: gold;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

body {
}

.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}
.img {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}
header {
  background-color: rgb(165, 148, 165);
  padding: 20px;
  text-align: center;
}

section {
  padding: 20px;
  text-align: center;
}
footer {
  background-color: blueviolet;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
